__pycache__/
*.pyc

*.token
tests/*.token
tests/seed.sql
tests/last_update

static/css/*.css*

obsidian-plugin/node_modules/
obsidian-plugin/dist/

deploy/terraform/.terraform/
deploy/terraform/*.tfstate
deploy/terraform/*.tfstate.*
deploy/terraform/*.tfvars

.whatnext.mute
