__pycache__/
*.pyc

*.token
tests/*.token
tests/seed.sql

static/css/*.css*

obsidian-plugin/node_modules/

deploy/terraform/.terraform/
deploy/terraform/*.tfstate
deploy/terraform/*.tfstate.*
deploy/terraform/*.tfvars
