{% extends "base.html" %}

{% block title %}Delete {{ notebook.name }} - Your 5E{% endblock %}

{% block main_class %} class="notebook settings"{% endblock %}

{% block page_context %}
  {% include "notebooks/includes/notebook_header.html" %}
{% endblock %}

{% block page_breadcrumbs %}
  {% with current_page="delete notebook" hide_controls=True %}
    {% include "notebooks/includes/page_header.html" %}
  {% endwith %}
{% endblock %}

{% block page_content %}
  <h2>Delete notebook</h2>

  <p>This will permanently delete the notebook and all its pages.</p>

  <form method="post" action="{% url 'notebook_delete' %}">
    {% csrf_token %}
    <input type="hidden" name="notebook" value="{{ notebook.pk }}">
    <input type="hidden" name="confirm" value="true">
    <button type="submit" class="danger">Delete notebook</button>
  </form>

  <p class='cancel'>
    <a href="{% url 'notebook_settings' username=notebook.owner.username slug=notebook.slug %}">Cancel</a>
  </p>
{% endblock %}
