{% extends "base.html" %}

{% block title %}{% if is_old_version %}Version {{ page.number }} of {% endif %}{{ page.filename }} - {{ notebook.name }} - Your 5E{% endblock %}

{% block content %}
<article>
<header>
<p>v{{ page.number }} by {{ page.created_by.username }} on {{ page.created_at|date:"j M Y" }}</p>
<select onchange="if(this.value) window.location.search='?version='+this.value">
{% for version in history %}
<option value="{{ version.number }}"{% if version.number == page.number %} selected{% endif %}>v{{ version.number }} by {{ version.created_by.username }} on {{ version.created_at|date:"j M Y" }}</option>
{% endfor %}
</select>
{% if can_edit %}<p><a href="?edit">Edit</a></p>{% endif %}
</header>
{{ content|safe }}
</article>
{% endblock %}
