{% extends "base.html" %}

{% block title %}
  {% if is_old_version %}Version {{ page.number }} of {% endif %}
  {{ page.filename }} - {{ notebook.name }} - Your 5E
{% endblock %}

{% block main_class %} class="{% if campaign %}campaign {% endif %}notebook"{% endblock %}

{% block header_primary_wrapper %}
  {% if campaign %}
    <div class="header primary campaign">
      {% include "campaigns/includes/campaign_header.html" %}
    </div>
  {% elif notebook %}
    <div class="header primary notebook">
      {% include "notebooks/includes/notebook_header.html" %}
    </div>
  {% endif %}
{% endblock %}

{% block header_secondary_wrapper %}
  {% if campaign %}
    <div class="header secondary notebook">
      {% include "notebooks/includes/notebook_header.html" %}
    </div>
  {% endif %}
{% endblock %}

{% block header_breadcrumbs_wrapper %}
<div class="header breadcrumbs">
  {% with versions=history selected=page param_name="version" %}
    {% include "notebooks/includes/page_header.html" %}
  {% endwith %}
</div>
{% endblock %}

{% block page_content %}
  <article>
    <div class="user-content">
      {{ content|safe }}
    </div>
  </article>
{% endblock %}
