{% extends "base.html" %}

{% block title %}{% if is_old_version %}Version {{ page.number }} of {% endif %}{{ page.filename }} - {{ notebook.name }} - Your 5E{% endblock %}

{% block content %}
<article>
<header>
<p>v{{ page.number }} by {{ page.created_by.username }} on {{ page.created_at|date:"j M Y" }}</p>
{% include "notebooks/includes/version_select.html" with versions=history selected=page param_name="version" %}
{% if can_edit %}<p><a href="?edit">Edit</a></p>{% endif %}
</header>
{{ content|safe }}
</article>
{% endblock %}
