{% extends "base.html" %}

{% block title %}Delete {{ campaign.name }} - Your 5E{% endblock %}

{% block main_class %} class="campaign"{% endblock %}

{% block page_context %}
  {% include "campaigns/includes/campaign_header.html" %}
{% endblock %}

{% block page_breadcrumbs %}
  {% include "campaigns/includes/page_header.html" %}
{% endblock %}

{% block page_content %}
  <p>This will permanently delete the campaign and remove all players.</p>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="campaign" value="{{ campaign.pk }}">
    <input type="hidden" name="confirm" value="true">
    <button type="submit" class="danger">Delete campaign</button>
  </form>

  <p>
    <a href="{% url 'campaign' username=campaign.owner.username slug=campaign.slug %}" class="cancel">Cancel</a>
  </p>
{% endblock %}
