{% extends "base.html" %}

{% block title %}Join {{ campaign.name }} - Your 5E{% endblock %}

{% block main_class %} class="campaign"{% endblock %}

{% block header_primary_wrapper %}
<div class="header primary campaign">
  {% include "campaigns/includes/campaign_header.html" %}
</div>
{% endblock %}

{% block page_content %}
  {% include "campaigns/includes/campaign_summary.html" %}

  {% if is_member %}
    <p>You are already a member of this campaign.</p>
    <p>
      <a href="{% url 'campaign' username=campaign.owner.username slug=campaign.slug %}">Go to campaign</a>
    </p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      <button type="submit">Join this campaign</button>
    </form>
  {% endif %}

{% endblock %}
