{% load campaign_permissions %}

<h1>{{ campaign.name }}</h1>
<div class="controls">
  <p class="meta">
    Campaign owner:
    <a href="{% url 'profile' username=campaign.owner.username %}">{{ campaign.owner.username }}</a>.
  </p>
  {% if campaign|is_member:request.user %}
    <div class="actions">
      {% if create_page_url %}
        <a href="{{ create_page_url }}" class="button">Add new page</a>
      {% endif %}
      {% if campaign|is_owner:request.user %}
        <a href="{% url 'campaign_settings' username=campaign.owner.username slug=campaign.slug %}"
           class="button">Settings</a>
      {% endif %}
      <form method="post" action="{% url 'campaign_leave' %}">
        {% csrf_token %}
        <input type="hidden" name="campaign" value="{{ campaign.pk }}">
        <button type="submit" class="danger">Leave campaign</button>
      </form>
    </div>
  {% endif %}
</div>
