{% load notebook_permissions dates %}

{% include "includes/breadcrumbs.html" %}
{% if not hide_controls %}
  {% if versions or notebook|can_edit:request.user %}
    <div class="page-controls">
      <div class="version-controls">
        {% if versions %}
          <form>
            <select name="{{ param_name }}">
              {% for version in versions %}
                <option value="{{ version.number }}" {% if version == selected %}selected{% endif %}>
                  v{{ version.number }} by {{ version.created_by.username }},
                  {{ version.created_at|smart_date }}
                </option>
              {% endfor %}
            </select>
            <button type="submit">View</button>
          </form>
        {% elif notebook|can_edit:request.user %}
          <a href="{{ create_base }}index?edit" class="button">Create</a>
        {% endif %}
      </div>
      <div class="page-actions">
        {% if versions and notebook|can_edit:request.user %}
          <form{% if create_base %} action="{{ create_base }}index"{% endif %}>
            <input type="hidden" name="edit">
            <button type="submit">Edit</button>
          </form>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
