@use "../base/colours" as *;
@use "../base/fonts" as *;
@use "../base/utilities" as *;
@use "typography" as *;

main.notebook {
    .notebook-nav {
        float: right;
        overflow-wrap: break-word;

        font-family: $font-site;
        font-size: $size-long-primer;
        line-height: 1.2;
        color: $colour-text-softened;

        margin: 0 calc(-1 * $indent) 1em 1.5em;
        padding: 1em $indent 1em 1em;

        border: 1px solid $colour-subtle-border;
        border-width: 0 0 1px 1px;

        min-width: 15%;
        max-width: 33%;

        h2 {
            @include visually-hidden;
        }

        h3, ul {
            margin: 0;
            padding-left: $size-long-primer;
        }

        h3 {
            margin-top: 0.5em;
        }

        h3:first-of-type {
            margin-top: 0;
        }

        ul {
            list-style: square;
        }

        li {
            margin: 0;
            padding: 0;
        }

        li::marker {
            color: $colour-text-faded;
        }

        a {
            color: inherit;
        }
        time {
            font-size: $size-bourgeois;
            font-style: italic;
        }

        span.editing {
            font-style: italic;
            outline: 1px solid red;
        }

        a.button {
            margin: 0.5em 0 0 $size-long-primer;
        }
    }

    hr {
        background-color: $colour-danger;
    }
}
