// traditional typography had body copy at 12pt "pica",
// here mapped to 18px for readability
$base-font-size:            18px;

$size-double-great-primer:  3rem;       // 36pt
$size-double-pica:          2rem;       // 24pt
$size-double-small-pica:    1.75rem;    // 21pt
$size-great-primer:         1.5rem;     // 18pt
$size-columbian:            1.333rem;   // 16pt
$size-english:              1.167rem;   // 14pt
$size-pica:                 1rem;       // 12pt
$size-small-pica:           0.917rem;   // 11pt
$size-long-primer:          0.833rem;   // 10pt
$size-bourgeois:            0.75rem;    // 9pt

$base-line-height:          1.6;
$one-line:                  $base-font-size * $base-line-height;
$half-line:                 $one-line * 0.5;
$third-line:                $one-line * 0.333;

a,
a:hover,
a:focus {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.11em;
}

main .page-content h1 {
    margin-top: 0;
    padding-top: $half-line;
}
