@use "../base/colours" as *;
@use "../base/fonts" as *;
@use "typography" as *;
@use "forms" as *;

.version-controls select {
    @include control-style;
    padding-right: 1.5em;
    // noqa
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICA8cGF0aCBmaWxsPSJncmF5IiBkPSJNMTAsMjMyLjdsNDkwLDUzNC41bDQ5MC01MzQuNUgxMHoiIC8+DQo8L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: right 0.4em center;
    background-size: 0.6em;
}
