<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Your 5E{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'help' path='' %}">Help</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'profile' username=user.username %}">{{ user.username }}</a></li>
      <li>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    </ul>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
