{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Your 5E{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">
  </head>
  <body>

    <header>
      <h1><a href="/">your5e.com</a></h1>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <a class="user" href="{% url 'profile' username=user.username %}">{{ user.username }}</a>
            </li>
            <li>
              <a href="{% url 'campaign_list' %}">My campaigns</a>
            </li>
            <li>
              <a href="{% url 'notebook_user_list' user.username %}">My notebooks</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}

          <li>
            <a href="{% url 'notebook_list' %}">Notebooks</a>
          </li>

          {% if user.is_authenticated %}
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
          {% endif %}
        </ul>
        <ul>
          <li>
            <a href="{% url 'help' path='' %}">Help</a>
          </li>
        </ul>
      </nav>
    </header>

    <main{% block main_class %}{% endblock %}>
      <header>
        {% block header_primary_wrapper %}
        {% if notebook or campaign %}
        <div class="header primary {% if campaign %}campaign{% else %}notebook{% endif %}">
          {% block header_primary %}{% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block header_secondary_wrapper %}
        {% endblock %}
        {% block header_breadcrumbs_wrapper %}
        {% if breadcrumbs %}
        <div class="header breadcrumbs">
          {% block header_breadcrumbs %}{% endblock %}
        </div>
        {% endif %}
        {% endblock %}
      </header>
      <div class="page-content">
        {% block page_content %}{% endblock %}
      </div>
    </main>

    <footer>
      <p>
        © 2026 your5e
        <span class="version">(version
          <a href="https://github.com/your5e/your5e/commit/{{git_sha}}">{{git_sha}}</a>)</span>
      </p>
      <p class="legal">
        This site includes material from the System Reference Document 5.2.1 (“SRD
        5.2.1”) by Wizards of the Coast LLC, available at
        <a href='https://www.dndbeyond.com/srd'>D&D Beyond</a>.
        The SRD 5.2.1 is licensed under the
        <a href='https://creativecommons.org/licenses/by/4.0/legalcode'>Creative Commons
        Attribution 4.0 International License</a>.
      </p>
    </footer>

  </body>
</html>
