@use "palette" as *;

$colour-header: $gemstone-green;
$colour-header-text: $baby-blossom;
$colour-subtle: $baby-blossom;
$colour-subtle-border: $esplanade;
$colour-text: $dark-orchestra;
$colour-footer: $brandy-copper;
$colour-footer-text: $baby-blossom;
$colour-danger: $brandy-copper;
$colour-danger-text: $baby-blossom;
