@use "palette" as *;

$colour-header: $gemstone-green;
$colour-header-text: $baby-blossom;
$colour-subtle: $baby-blossom;
$colour-subtle-border: $esplanade;
$colour-text: $dark-orchestra;
$colour-text-softened: color-mix(in srgb, $colour-text 60%, white);
$colour-footer: $dark-orchestra;
$colour-footer-text: $baby-blossom;
$colour-danger: $brandy-copper;
$colour-danger-text: $baby-blossom;
$colour-campaign: $brandy-copper;
$colour-campaign-text: $baby-blossom;
$colour-page: $igloo;
