@use "../theme/typography" as *;

main.notebook {
    &.edit {
        padding-bottom: 1em;

        .upload-form {
            display: flex;
            align-items: stretch;
            gap: 0.5em;
            margin: $one-line;

            button {
                display: flex;
                align-items: center;
            }
        }
    }

    hr {
        width: 66%;
        height: 2px;
        margin: 2em 0;
        border: none;
    }


    &.settings {
        h2 {
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
        }
        p.cancel {
            margin-top: 2em;
        }

        form {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            gap: 0.5em;
        }

        input[type="text"] {
            width: auto;
        }

        /*
        ul {
            list-style: disc;
            padding-left: 1.5em;
        }

        li {
            margin-bottom: 0.5em;
        }
        */

    }
}
