:root {
    --indent: clamp(1rem, 5vw, 4rem);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    // 100vw includes the scrollbar width, so full-width elements overflow
    // horizontally. Clip hides this overflow without affecting scroll.
    overflow-x: clip;
}

body > main {
    flex-grow: 1;
    margin-bottom: 2rem;
    padding-inline: var(--indent);
}

.full-width {
    box-sizing: border-box;
    width: 100vw;
    margin-left: calc(-1 * var(--indent));
    padding-inline: var(--indent);
}

.page-header {
    box-sizing: border-box;
    width: calc(100% + 2 * var(--indent));
    margin-left: calc(-1 * var(--indent));
    padding: 0.5em var(--indent);
}
